* {
    scroll-behavior: smooth;
  }
  
  .navbar{
    background-color: #222;
  }
  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-container img {
    margin-right: 5px; 
  }
  
.header {
  background-color: whitesmoke; 
}
#wnnaslov{
color: #28a745;
font-weight: bold;
}
#order{
  font-weight: bolder;
  font-size: 35px;
}
.btn.btn-danger {
  font-size: 18px; 
  padding: 20px;
}

@media (max-width: 576px) {
  .header-buttons {
    flex-direction: column;
  }

  .header-buttons .btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.whats-new {
  background-image: url(Slike/whatsnewbg.jpg);
  padding: 40px 0; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.card {
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  border: 1px solid #ccc;
  border-radius: 5px;
 background-color: #222;
  overflow: hidden; 
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
}


.card .card-body {
  padding: 20px; 
}

.card .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

}

.card .card-text {
  color: #222;
  background-color:whitesmoke;
  font-size: medium;
  text-align: center;
  font-weight: bold;
}


.card .card-img-top {
  max-height: 450px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 10px;
  }
}
.nasadostava{
  background-color: #222;
  color: whitesmoke;
}
#free{
  color: #ffc107;
}
#free2{
  color: #DC3545;
}
#dostavah{
color: #28a745;
}

/*/ moj custom scrollbar /*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke; 
}


html {
  scrollbar-color: #222 whitesmoke;
}

body {
  scrollbar-width: thin;
}
/* Stilizovanje video pozadine i aboutus sekcija, buckov txt*/
.aboutus-section {
  position: relative;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.aboutus-content {
  position: relative;
  z-index: 1;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.aboutus-content h2 {
  font-size: 36px;
}

.aboutus-content p {
  font-size: 18px;
}
.onamaparag{
  color: whitesmoke;
font-weight: bold;
}
/*/ footer /*/
section.footer .bg-secondary {
  background-color: #222 !important;
}